<app-score-card
  [buttonText]="isScheduled ? 'Preview' : 'Box'"
  (buttonClicked)="handleBoxClick(scoreItem.id)"
>
  <div class="team1">
    {{ scoreItem.awayScore.team }}
  </div>
  <div class="score1" *ngIf="!isScheduled">
    {{ scoreItem.awayScore.score }}
  </div>
  <div class="team2">
    {{ scoreItem.homeScore.team }}
  </div>
  <div class="score2" *ngIf="!isScheduled">
    {{ scoreItem.homeScore.score }}
  </div>
  <div class="status">
    <span
      class="tag is-pulled-right"
      [class.is-info]="isInProgress"
      [class.is-white]="isScheduled"
      >{{ scoreItem.status }}</span
    >
  </div>
</app-score-card>
