<div class="card">
  <div class="card-content">
    <div class="card-wrapper">
      <div class="team1">
        {{ scoreItem.score[0].team }}
      </div>
      <div class="score1" *ngIf="!isScheduled">
        {{ scoreItem.score[0].score }}
      </div>
      <div class="team2">
        {{ scoreItem.score[1].team }}
      </div>
      <div class="score2" *ngIf="!isScheduled">
        {{ scoreItem.score[1].score }}
      </div>
      <div class="status">
        <span
          class="tag is-pulled-right"
          [class.is-info]="isInProgress"
          [class.is-white]="isScheduled"
          >{{ scoreItem.status }}</span
        >
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <span class="card-footer-item column is-one-quarter">
      <a [routerLink]="'/mlb/' + scoreItem.id" class="button is-success">
        Box
      </a>
    </span>
  </footer>
</div>
